:root {
  --blue: #1363df;
  --dark_blue: #06283d;
  --cyan: #47b5ff;
  --light_blue: #dff6ff;
}
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}